/* 
#   how to add liberty sans as of adobe fonts
##  include "typekit" from adobe. include following line in html.
<link rel="stylesheet" href="https://use.typekit.net/edi7fzp.css">
### *OR*
##  include following line to css
@import url("https://use.typekit.net/edi7fzp.css");

##  include following lines in css
font-family: liberation-sans, sans-serif;
font-style: normal;
font-weight: 400;


*/

@import url("https://use.typekit.net/edi7fzp.css");

body {
    text-align: center;
    font-family: liberation-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* body #twt-msg {
    text-align: center;
    margin: 5px;
} */

div #footer-banner {
    padding: 1px;
}

.footer {
    background-color: aqua;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
